/*
 Front-end Specific Style.
 Off Canvas Styles Strucutral Styles are in the off-canvas.css
*/

/* Default Styles */
a,
a:link,
a:hover,
a:active {
	color: #222222;
}

div p span a {
	color: #5A5A5A !important;
}

/* Site Header Stlyes */
.site {
	background: #036;
	height: 44px;
	overflow: hidden;
}

.site h1 {
	color: #FFF;
	font-size: 1.3em;
	float: left;
	margin: 9px 0 0 5px;
}

.site .nys-icon {
	float: right;
	padding-right: 5px;
	padding-top: 8px;
}

/* Left Menu Navigational Styles */

.main-nav {
	background: #3B3B3B;
}

.main-nav .main-nav-contents a {
  display: block;
  font-size: 1.2em;
  background: #3e3e3e;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2e2e2e;
  color: white;
  padding: 15px;
}

.open-menu {
	float: left;
}

.main-nav-controls {
	background: #3B3B3B;
	height: 60px;
	width: 100%;
}

.main-nav .nav-wrap {
	padding-top: 60px;
}

.main-nav-search {
	margin: 0;
}

.main-nav .menu-search-box {
	background: #2e2e2e;
	border: 1px solid #484848;
	border-top: 1px solid #1e1e1e;
	float: left;
	padding: 7;
	margin: 17px 0 0 15px;
	width: 60%;
}

.main-nav .menu-search-button {
	background: #3e3e3e;
	border: 1px solid #484848;
	border-bottom: 1px solid #2e2e2e;
	color: #FFF;
	float: left;
	margin: 16px 0 0 10px;
	padding: 6px 9px;
}

.connect-header {
	color: #9e9e9e;
	font-size: 1.2em;
	margin: 15px 100px 0 15px;
}

.connect-with-us-div {
	margin-top: 10px;
}

.connect-with-us {
	list-style: none;
}

.connect-with-us li {
	border-bottom: 1px solid #2e2e2e;
}

.connect-with-us a {
	color: #FFF;
	font-size: 1.1em;
}

.facebook {
	background: url(../images/facebook.png) no-repeat 0 0;
	margin: 12px 0 0 12px;
	padding: 0 0 10px 32px;
}

.twitter {
	background: url(../images/twitter.png) no-repeat 0 0;
	margin: 12px 0 0 12px;
	padding: 0 0 10px 32px;
}

.youtube {
	background: url(../images/youtube.png) no-repeat 0 0;
	margin: 12px 0 0 12px;
	padding: 0 0 10px 32px;
}

.flickr {
	background: url(../images/flickr.png) no-repeat 0 0;
	margin: 12px 0 0 12px;
	padding: 0 0 10px 32px;
}

.footer {
	display: none;
}

/* Page (Content Section) Styles */
.page {
	background: url(../images/furley.png) repeat 0 0 #FFF;
	padding-top: 0;
}

.page .logo-sm {
	margin: 25px auto;
	margin-top: 70px;
}

.page .logo-lg {
	margin: 50px auto;
	display:none;
}

.page .center-text {
	text-align: center;
}

.page .center-text.location-list{
	background: #CCCCCC;
	margin-bottom: 0;
	line-height: 2.6;
}

.page .landing-search .search-textbox {
	width: 100%;
	margin: auto;
	border-radius: 5px;
	background: url(../images/magnifying-glass.png) no-repeat 99% 6px #FFF;
}

.page .landing-search .search-button {
	text-align: center;
	width: 100%;
	margin: 25px auto;
	padding: 14px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

.page .gps-icon {
	background: url(../images/target.png) no-repeat 0 0;
	padding-left: 22px;
}

.page .location-address {
	padding-top: 10px;
}


.page .contact-options,
.page .additional-info,
.page .location-list {
	list-style: none;
}

.page .location-phone {
	float: left;
}

.page .location-map {
	float: right;
}

.page .location-other {
	display: none !important;
	padding: 20px;
}

.page .location-list-view {
	background: #CFCFC4;
	font-weight: bold;
	line-height: 1.9;
	margin-bottom: 0;
	display: block;
}

.page .location-list-view a {
	color: #336699;
}

.page .location-phone,
.page .location-map,
.page .location-other {
	display: inline-block;
	padding: 7px 10px;
	width: 48%;
	border-radius: 5px;
	margin-bottom: 20px;
}

.page .location-image {
	width: 100%;
	margin-top: 64px;
}

.page .row-margin {
	margin-bottom: 25px;
}

.page .location-list p {
	color: #222222;
	font-size: 12px;
}

.page .location-list .miles {
	float: right;
	margin-top: -52px;
	font-weight: bold;
	color: #5A5A5A;
	background: url(../images/right-arrow.png) no-repeat right; 
	padding-right: 19px;
}

.page .roundCorners {
	border-radius: 6px;
}

.remove-bullets {
	list-style: none;
}

.expanded {
	display: none;
}

.expanded  ul {
	width: 90%;
}

.additional-info li .no-top-border {
	border-top: none;
}

.additional-info a:link,
.additional-info a:hover,
.additional-info a:active {
	color: #222222;
}

.page .expandable {
	display: block;
	overflow: auto;
	padding: 10px 10px;
	border: 1px solid #CCC;
	background: url(../images/down-arrow.png) no-repeat 94% center #E1E1E1; 
}

.page .expandable.expanded {
	background: url(../images/up-arrow.png) no-repeat 94% center #E1E1E1; 
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.page .expandable + div {
	display: none;
	padding: 12px 10px 20px 4px;
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.page  .expandable.expanded + div{
	display: block;
}

.top-curve {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.bottom-curve {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.page .location-list li {
	margin-top: 10px;
	border-bottom: 1px solid #CCC;
}

.page .button-primary {
	color: #fff !important;
	background: #336699;
	font-weight: bold;
}

.page .button-primary:active {
	background: #336699;
}

.page .button {
	color: #336699 !important;
	background: #CFCFC4;
	border-color: #CCC;
	font-weight: bold;
	border-style: none;
	border-width: 0;
	line-height: 0;
}

.page .link-icon {
	background: url(../images/link-icon.png) no-repeat 2px 5px; 
}

.page .contact-options li a {
	margin-left: 22px;
}

.page .email-icon {
	background: url(../images/icon-button-sprite.png) no-repeat 2px -4154px; 
}

@media only screen and (min-width: 30em) {

	.page .location-image {
		margin: 0 auto;
		margin-top: 64px;
		width: 70%;
	}

}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) {
	body{
		background: #222;
	}

	.page {
		position: relative;
	}

	.page a {
		color: #336699;
	}

	.page a:hover {
		color: #969696;
		text-decoration: underline;
	}

	.page .additional-info a:hover {
		color: #969696;
		text-decoration: none;
		cursor: default;

	}
	/* Global Navigation */
	.open-menu {
		display:none;
	}
	
	.site h1 {
		margin: 9px 0 0 9px;
	}

	.content {
		margin-bottom: 30px;
		height: 100%;
	}

	.footer {
		display: block;
		width: 100%;
		margin-top: 90px;
		color: #FFF;
	}

	.footer div p {
		margin-bottom: 10px;
		font-size: 2em;
		font-weight: 
	}

	.row.footer {
		border-top: 6px ridge #BBB;
		background: #222;
		margin: 0;
		max-width: none;
		width: 100%;
		padding-top: 16px;
	}

	.connect-with-us-footer {
		margin: 0;
	}

	.facebook {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: gray;
		-webkit-filter: grayscale(1);
		padding: 0 40px 12px 0;
		margin: 0;
	}

	.twitter,
	.youtube,
	.flickr	{
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: gray;
		-webkit-filter: grayscale(1);
		padding: 0 40px 12px 0;
	}
	
	.facebook:hover,
	.twitter:hover,
	.youtube:hover,
	.flickr:hover{
		filter: none;
		-webkit-filter: none;
	}

	/* Main Nav Styles */
	.main-nav {
		position: relative;
	}

	.main-nav .nav-wrap {
		overflow-y: hidden;
		padding-top: 43px;
	}

	.main-nav .main-nav-controls {
		display: none;
	}

	.main-nav .main-nav-contents a {
		font-size: 1em;
	}

	.connect-with-us-div {
		display: none;
	}

	.connect-with-us-footer {
		display:block;
	}

	.main-nav .main-nav-contents a {
		display: inline-block;
		padding: 10px;
		background: 0;
		border-top: 0;
		border-bottom: 0;
	}


	/* Index Page Styles */

	.page .logo-sm {
		margin: 25px auto;
		display:none;
	}

	.page .logo-lg {
		margin: 50px auto;
		display: block;
	}

	.page .landing-search {
		margin-top: 200px;
		width: 80%;
	}

	.page .gps-icon {
		margin-right: 80px;
		font-weight: bold;
		font-size: 1.2em;
		background: url(../images/target.png) no-repeat 0px 2px;
	}

	.page .landing-search .search-button {
		font-size: 1.3em;
	}	

	.page .landing-search .search-textbox {
		font-size: 1.3em;
		background: url(../images/magnifying-glass-lg.png) no-repeat 97% 14px #FFF;
	}

	.main {
		margin-bottom: -12px;
	}

	/* Location Page Styles */

	.page .location-image {
		margin-top: 20px;
		margin-bottom: 20px;
		width: auto;
		height: auto;
	}

	.page .location-address {
		margin-top: 10px;
		padding-top: 10px;
		font-size: 110%;
	}

	.page .location-address strong{
		margin-top: 10px;
		padding-top: 10px;
		font-size: 140%;
	}

	.page .contact-options {
		font-size: 100%;
	}

	.page .location-phone,
	.page .location-map,
	.page .location-other {
		width: 100%;
		margin-bottom: 0;
	}

	.page .location-map {
		margin-top: 10px;
	}

	.page .location-other {
		margin-top: 10px;
		display: inline-block !important;
		padding: 20px;
	}

	.page .location-list-view {
		display: none;
	}

	.page .expandable {
		display: block;
		overflow: auto;
		padding: 0;
		border: none;
		background: none; 
		font-weight: bold;
		margin-top: -7px;
		font-size: 120%;
		color: #3C3C3C !important;
	}

	.page .expandable.expanded {
		background: none;
		display: block;
	}

	.page .expandable + div {
		display: block;
		padding: 12px 10px 20px 4px;
		background-color: transparent;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}

	.page .center-text {
		font-size: 1.1em;
	}

	.footer-icons .facebook {
		background: url(../images/facebook.png) no-repeat 0 0;
		margin: 12px 0 0 12px;
		padding: 0 0 10px 32px;
		display: block;
	}

	.footer-icons .twitter {
		background: url(../images/twitter.png) no-repeat 0 0;
		margin: 12px 0 0 12px;
		padding: 0 0 10px 32px;
	}

	.footer-icons .youtube {
		background: url(../images/youtube.png) no-repeat 0 0;
		margin: 12px 0 0 12px;
		padding: 0 0 10px 32px;
	}

	.footer-icons .flickr {
		background: url(../images/flickr.png) no-repeat 0 0;
		margin: 12px 0 0 12px;
		padding: 0 0 10px 32px;
	}

	.nav-wrap {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		width: 60em !important;
	}

	.gov-wrap {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		width: 60em !important;
	}

	.arrow-down {
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid black;
	}

	.footer-wrap {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		width: 60em !important;
	}

	/* Location-List Page Styles */

}

/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 80em) {
	

}	