/*
 Front-end Specific Style.
 Off Canvas Styles Strucutral Styles are in the off-canvas.css
*/

/* Site Header Stlyes */
.site {
	background: red;
}

.site h1 {
	color: #FFF;
	font-size: 1.5em;
	float: left;
	margin: 4px 0 0 10px;
}

.open-menu {
	float: left;
}

/* Left Menu Navigational Styles */
.main-nav {
	background: #3B3B3B;
}

.main-nav a {
  display: block;
  background: #3e3e3e;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2e2e2e;
  color: white;
  padding: 15px;
}


/* Page (Content Section) Styles */
.page {
	background: #FFF;
}