/*
 Front-end Specific Style.
 Off Canvas Styles Strucutral Styles are in the off-canvas.css
*/

/* Site Header Stlyes */
.site {
	background: #036;
	height: 44px;
	overflow: hidden;
}

.site h1 {
	color: #FFF;
	font-size: 1.5em;
	float: left;
	margin: 4px 0 0 10px;
}

.open-menu {
	float: left;
}

.main-nav-controls {
	height: 60px;
	width: 100%;
}

.main-nav .nav-wrap {
	padding-top: 60px;
}

.main-nav-search {
	margin: 0;
}

.main-nav .menu-search-box {
	background: #2e2e2e;
	border: 1px solid #484848;
	border-top: 1px solid #1e1e1e;
	float: left;
	padding: 7;
	margin: 17px 0 0 15px;
	width: 60%;
}

.main-nav .menu-search-button {
	background: #3e3e3e;
	border: 1px solid #484848;
	border-bottom: 1px solid #2e2e2e;
	color: #FFF;
	float: left;
	margin: 16px 0 0 10px;
	padding: 6px 9px;
}

/* Left Menu Navigational Styles */
.main-nav {
	background: #3B3B3B;
}

.main-nav a {
  display: block;
  background: #3e3e3e;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2e2e2e;
  color: white;
  padding: 15px;
}

/* Page (Content Section) Styles */
.page {
	background: #FFF;
}