/* Default Styles */
@media screen {

	html, body {
	  min-height: 100%;
	  min-width: 100%g;
	}

	.site {
		left:0;
		width: 100%;
		z-index: 1500;
	}

	.main-nav {
		position: fixed;
  		width: 100%;
  		height: 100%;
  		z-index: 100;
	}

	.main-nav .main-nav-controls {
		position: fixed;
		top: 0;
		z-index: 50;
	}

	.main-nav .nav-wrap {
		height: 100%;
		overflow-y: scroll;
	}

	.page {
		left:0;
		min-height: 100%;
		padding-top: 44px;
		position: absolute;
		width: 100%;
		z-index: 1000;
	}

	.site,
	.page {
		position: absolute;
		transition: left 1s ease;
			-webkit-transition: left 1s ease;
			-moz-transition: left 1s ease;
			-o-transition: left 1s ease;
			-ms-transition: left 1s ease;
			-webkit-transform: translateZ(0);
	}

	.open-menu {
		display: inline-block;
		color: #FFF;
		font-size: 1.5em;
		padding: 10px 12px;
	}

	/* Open/Close Menu */
	.active-nav .main-nav {
		overflow-y: scroll;
  		width: 95%;
	}

	.active-nav .site,
	.active-nav .page {
		position: fixed;
		clear: right;
		left: 85%;
		z-index: 1000;
	}

	.active-nav .site {
		top: 0;
	}

	.active-nav .page {
		padding-top: 44px;
	}


}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) {


}

/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 80em) {

}

/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 90em) {

}